﻿@model SurveySelectionVM
@{
    ViewData["Title"] = "New Survey";
}

<h2>Please Choose Your Favorite National Park</h2>

<form asp-controller="Survey" asp-action="NewSurvey" method="post">
    <table class="table">
        <tr>
            <th>
            <label asp-for="Survey.ParkCode">Choose a Park</label>
            </th>
            <td>
                <select asp-for="Survey.ParkCode" asp-items="@Model.Parks"></select>
                <span asp-validation-for="Survey.ParkCode" class="error"></span>
            </td>            
        </tr>
        <tr>
            <th><label asp-for="Survey.EmailAddress">Your Email</label></th>
            <td><input asp-for="@Model.Survey.EmailAddress" /><span asp-validation-for="@Model.Survey.EmailAddress" class="error"></span></td>
            
        </tr>
        <tr>
            <th>
            <label asp-for="Survey.State">State of Residence</label>
            </th>
            <td>
                <select asp-for="Survey.State" asp-items="Model.States"></select>
                <span asp-validation-for="@Model.Survey.State" class="error"></span>
            </td>
        </tr>
        <tr>
            <th><label asp-for="Survey.ActivityLevel">Activity Level</label></th>
            <td>

                @foreach (SelectListItem item in Model.ActivityLevel)
                {
                    <input type="radio" asp-for="Survey.ActivityLevel" value="@item.Text" />@item.Text
                }
                <span asp-validation-for="Survey.ActivityLevel" class="error"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" id="submit"/>
            </td>
        </tr>
    </table>
</form>

