﻿@model  IList<SurveyResult>
@{
    ViewData["Title"] = "Top Parks";
}

<h2>Top Parks</h2>

<table class="table">
    <tbody>
        @foreach (SurveyResult survey in Model)
        {
            <tr>
                <td>
                    Park: <a asp-controller="Home" asp-action="Detail" asp-route-code="@survey.ParkCode">@survey.ParkName</a>
                </td>
                <td>
                    Number Of Surveys: @survey.Results
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
