﻿@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}
@{
    List<string> recPackingItems = new List<string>();
}
<div>
    <img id="park-img-large" src="~/images/parks/@Model.Park.ImageSource" />
</div>
<table>
    <tbody>
        <h2 class="park-details">Park Details: </h2>
        <tr>
            <td>@Model.Park.Name</td>
        </tr>
        <tr>
            <td>Located In: @Model.Park.State</td>
        </tr>
        <tr>
            <td>@Model.Park.Acreage Acres</td>
        </tr>
        @if (Model.Park.Elevation > 0)
        {
            <tr>
                <td>Elevation: @Model.Park.Elevation Feet Above Sealevel</td>
            </tr>
        }
        else
        {
            <tr>
                <td>Elevation: Sealevel</td>
            </tr>
        }
        <tr>
            <td>@Model.Park.MilesOfTrail Miles of Trails</td>
        </tr>
        @if (Model.Park.NumberOfCampsites > 0)
        {
            <tr>
                <td>@Model.Park.NumberOfCampsites Campsites</td>
            </tr>
        }
        <tr>
            <td>Climate: @Model.Park.Climate</td>
        </tr>
        <tr>
            <td>Founded In: @Model.Park.YearFounded</td>
        </tr>
        @if (Model.Park.EntryFee > 0)
        {
            <tr>
                <td>Daily Entrance Fee: @Model.Park.EntryFee.ToString("C")</td>
            </tr>
        }
        else
        {
            <tr>
                <td>Daily Entrance Fee: Free Entry</td>
            </tr>
        }
        <tr>
            <td> Annual Visitors: @Model.Park.AnnualVisitorCount</td>
        </tr>
        <tr>
            <td>Around @Model.Park.NumberOfSpecies Species For You To Experience</td>
        </tr>
        <tr>
            <td>
                <h2>Park Description: </h2>
                @Model.Park.Description
            </td>
        </tr>
        <tr>

            <td>
                <h2>Park Quote: </h2>
                <div id="quote">
                    @Model.Park.Quote
                    ~@Model.Park.QuoteSource~
                </div>
            </td>
        </tr>
    </tbody>
</table>


<table id="WeatherStyle" class="table">
    <tbody>

        <tr>

            @*<td>@DateTime.Today.AddDays(1).DayOfWeek</td>
                <td>@DateTime.Today.AddDays(2).DayOfWeek</td>
                <td>@DateTime.Today.AddDays(3).DayOfWeek</td>
                <td>@DateTime.Today.AddDays(4).DayOfWeek</td>*@
            @{ int daysAhead = 0;}
            @foreach (DailyWeather weather in Model.Weather)
            {
                <td>

                    <strong>@DateTime.Today.AddDays(daysAhead++).DayOfWeek</strong>
                    <br />
                    <img class="weather-image" src="~/images/weather/@weather.ImageSource" />
                    <br />
                    Forecast: @weather.Forecast.ToLower()
                    <br />
                    Low: @weather.Low
                    <br />
                    High: @weather.High
                    <br />
                    <br />
                    What You Should Pack:
                    <ul class="packing-items">
                        @if (weather.High > 75)
                        {
                            <li>Bring an extra gallon of water</li>
                        }
                        @if (weather.High - weather.Low > 20)
                        {
                            <li>Wear breathable layers!</li>
                        }
                        @if (weather.Low < 20)
                        {
                            <li>Pack warm clothes, low temperatures expected!</li>
                        }

                        @if (weather.Forecast == "thunderstorms")
                        {
                            <li id="danger">You should seek shelter and avoid hiking on exposed ridges.</li>
                        }
                        @if (weather.Forecast == "sunny")
                        {
                            <li>You should pack sun block.</li>
                        }
                        @if (weather.Forecast == "snow")
                        {
                            <li>You should pack snow shoes.</li>
                        }
                        @if (weather.Forecast == "rain")
                        {
                            <li>You should pack raingear and waterproof shoes.</li>
                        }
                    </ul>
                </td>


            }
        </tr>
    </tbody>
</table>

