﻿@model IList<Park>;
@{
    ViewData["Title"] = "Home Page";
}

@foreach (Park park in Model)
{
<table class="table">
    <tbody>
        <tr>
            <td><a asp-controller="Home" asp-action="Detail" asp-route-code="@park.Code"><img class="park-img" src="~/images/parks/@park.ImageSource" /></a></td>

            <td class="PDHome"><a asp-controller="Home" asp-action="Detail" asp-route-code="@park.Code">@park.Name</a>
            <br/>
            @park.Description</td>
        </tr>
    </tbody>

</table>
}

