﻿@model TemperaturePreference
@{
    ViewData["Title"] = "Preferences";
}


<div class="table">
    <h1>Preferences</h1>
    <table class="table">
        <form asp-action="Preferences" asp-controller="Home" class="pref">
            <label asp-for="WantsCelcius"></label>
            <input asp-for="@Model.WantsCelcius" />
            <br />
            <input type="submit" value="Save" class="save"/>
        </form>

    </table>
</div>