﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: burlywood;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#quote {
    font-style: italic;
}

.navbar-header img {
    width: 10pc;
}


td .park-img {
    border: 5px solid #000000;
    border-radius: 4px;
    display: flex;
}

    td .park-img:hover {
        box-shadow: 0 0 2px 3px rgba(0, 140, 186, 0.5);
    }

h2 {
    text-decoration: underline;
}

td p {
    text-align: center;
}

ul.packing-items #danger {
    color: red;
}

.PDHome {
    text-align: center;
}

#WeatherStyle {
    text-align: center;
}

    #WeatherStyle td {
        vertical-align: top;
    }

.table {
    border: 0;
    border: none;
    border-color: #36454f;
    background-color: black;
    border-radius: 10px;
    color: beige;
}

div.table  {
        border: 0;
        border: none;
        border-color: #36454f;
        background-color: black;
        border-radius: 10px;
        color: beige;
    }

.error {
    color: red;
}

.table > tbody > tr > td {
    border-top: 0px;
}

.table > thead > tr > th {
    border-top: 0px;
}

#submit {
    color: black;
}


button, input, optgroup, select, textarea {
    color: black;
}

.table > tbody > tr > th {
    border-top: 0px;
}

div.table {
    padding: 10px;
}
